<template>
    <div class="note-list">
        <Actions class="actions">
            <button @click="addNote">Добавить заметку</button>
        </Actions>
        <div class="content">
            <Note v-for="(note, index) in notes" :key="index" :note="note" :editMode="false">
                <template v-slot:actions>
                    <button class="remove" @click="removeNote(note)">Удалить заметку</button>
                    <button class="edit" @click="changeNote(note)">Редактировать заметку</button>
                </template>
            </Note>
            <NoteForm
                ref="form"
                :note="editNote"
                @save="saveNote"
            >
                <div class="modals">

                </div>
            </NoteForm>
        </div>
    </div>
</template>

<script>
	import Note from '@/components/Note'
	import Actions from '@/components/Actions'
	import NoteForm from '@/components/NoteForm'

	export default {
		components: {
			Note,
			Actions,
			NoteForm
		},
		name: 'TodoList',
		props: {
			title: String,
		},
		data() {
			return {
				noteFormOpen: false,
				editNote: {}
			}
		},
		computed: {
			notes() {
				return this.$store.state.notes || []
			},
			notesCount() {
				return this.notes.length
			}
		},
		mounted() {

		},
		methods: {
			openForm() {
				this.$refs.form.open()
			},
			saveNote(note) {
				if (note.id) {
					this.$store.commit('updateNote', note)
				} else {
					note.id = this.notesCount + 1
					this.$store.commit('addNote', note)
				}
			},
			addNote() {
                this.openForm()
			},
			changeNote(note) {
				this.editNote = {...note}
				this.openForm()
			},
			removeNote({id}) {
				this.$store.commit('removeNote', {id})
			},
		}
	}
</script>

<style lang="scss">
    .note-list {
        margin: 0 auto;

        .content {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .actions {
            padding-bottom: 4vh;

            .remove {
                float: left;
            }

            .edit {
                float: right;
            }
        }
    }
</style>
