/**
* User: zubkov.n
* Date: 17.04.2020
* Time: 20:36
*/
<template>
    <div>
        <slot></slot>
    </div>
</template>

<script>
	export default {
		name: 'Actions',
		props: {

        },
		data() {
			return {}
		},
		computed: {},
		mounted() {

		},
		methods: {}
	}
</script>

<style scoped>

</style>