/**
* Company: Etton Group
* User: zubkov.n
* Date: 18.04.2020
* Time: 21:53
*/
<template>
    
</template>

<script>
	export default {
		name: 'Modal',
		props: {},
		data() {
			return {}
		},
		computed: {},
		mounted() {

		},
		methods: {}
	}
</script>

<style scoped>

</style>