/**
* Company: Etton Group
* User: zubkov.n
* Date: 18.04.2020
* Time: 20:34
*/
<template>
    <div v-show="isOpen" class="modal-mask">
        <div class="modal-container">
            <span @click="close" class="close"></span>
            <div class="header">
                <h3>Составьте список дел</h3>
            </div>
            <div class="content">
                <div class="text">
                    <input v-model.trim="editingNote.text" placeholder="Напишите заголовок списка">
                </div>
            </div>
            <div class="modal-actions">
                <slot name="actions"></slot>
                <button @click="save" class="right">
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		name: 'NoteForm',
		props: {
			note: {
				type: Object,
				default: () => ({
                    id: null,
                    text: '',
                    todos: []
                })
			}
		},
		watch: {
			note: function (note) {
				this.editingNote = {...note}
			},
            editingNote: {
				immediate: true,
                deep: true,
                handler: 'storeEditNote'
            },
			'editingNote.text': function (val) {
				this.isChanged = val !== this.note.text
			},
		},
		data() {
			return {
				shown: false,
				editingNoteInitVal: {
					id: null,
					text: null,
					todos: []
				},
				isChanged: false,
				editingNote: {}
			}
		},
		mounted: function () {
			document.addEventListener('keydown', (e) => {
				if (this.isOpen && e.code === 'Escape') {
					this.close()
				}
			})
		},
		computed: {
			isOpen() {
				return this.shown === true
			}
		},
		methods: {
			storeEditNote(editNote) {
				debugger
				this.$store.commit('storeEditNote', editNote)
            },
			open() {
				this.shown = true
			},
			reset() {
				this.editingNote = {...this.editingNoteInitVal}
			},
			save() {
				this.$emit('save', this.editingNote)
				this.shown = false
				this.$emit('close')
				this.reset()
			},
			close() {
				if (!this.isChanged || (this.isChanged && confirm('Вы потеряете изменения. Продолжить?'))) {
					this.shown = false
					this.$emit('close')
					this.reset()
				}
			}
		}
	}
</script>

<style scoped lang="scss">
    .modal-mask {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        transition: opacity .5s ease;
    }

    .modal-container {
        width: 27vw;
        margin: 10rem auto;
        padding: 1rem;
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .42);

        .close:after {
            float: right;
            font-size: 2rem;
            display: inline-block;
            content: "\00d7";
            cursor: pointer;
            height: 1rem;
        }

        .header {
            width: 100%;
        }

        .content {
            min-height: 34vh;
        }

        .modal-actions {
            display: flex;
            justify-content: space-between;
            height: 4vh;
            flex-direction: row-reverse;

            button {
                width: 10rem
            }
        }
    }

</style>