/**
* User: zubkov.n
* Date: 17.04.2020
* Time: 20:29
*/
<template>
    <div class="note">
        <div class="actions">
            <slot name="actions"></slot>
        </div>
        <div class="content">
            <p v-if="note.text" class="text">{{note.text}}</p>
            <Todo v-for="(todo, index) in todos" :key="index" :todo="todo" :disabled="editMode === true">
                <template v-slot:actions>
                    <button @click="remove(todo.id)">Удалить</button>
                </template>
            </Todo>
        </div>
    </div>
</template>

<script>
	import Todo from './Todo'

	export default {
		components: {
			Todo
		},
		name: 'Note',
		props: {
			note: {
				type: Object,
                default: () => ({})
            },
			editMode: {
				type: Boolean,
				default: false
			}
        },
		data() {
			return {}
		},
		computed: {
			todos() {
				return this.note.todos || []
            }
        },
		mounted() {

		},
		methods: {
			remove(id) {
                this.$store.commit('removeTodo', {noteId: this.note.id, id})
            }
        }
	}
</script>

<style scoped lang="scss">
    .note {
        flex: 0 1 24%;
        align-self: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        width: 10vw;
        padding-bottom: 4rem;
        margin: 1rem;
        position: relative;
        .text{
            padding: 1rem 1rem;
        }
        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        .content {
            width: 100%;
        }
    }
</style>