/**
* User: zubkov.n
* Date: 17.04.2020
* Time: 20:13
*/
<template>
    <div>
        <input name="checkbox" class="todo-checkbox" type="checkbox" :checked="todo.checked" :disabled="disabled">
        <label>{{todo.text}}</label>
        <slot name="actions"></slot>
    </div>
</template>

<script>
	export default {
		name: 'Todo',
		props: {
			todo: {
				type: Object,
				default: () => ({})
			},
            disabled: {
				type: Boolean,
                default: false
            }
		},
		data() {
			return {}
		},
		computed: {
			id() {
				return this.todo.id
			},
			text() {
				return this.todo.text
			},
			checked() {
				return this.todo.checked
			}
		},
		mounted() {

		},
		methods: {}
	}
</script>

<style scoped>

</style>