<template>
    <div id="app">
        <div class="content">
            <h3 class="header">Список заметок</h3>
            <router-view/>
        </div>
    </div>
</template>
<script></script>
<style lang="scss">
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
</style>
